body {
    background-color: black;
    color: #ffffff;
}

button {
    width: 85px;
    height: 85px;
    margin: 4px;
    font-size: 25px;
    border: none;
    border-radius: 50%;
    
}

button:focus {
    outline: none;
}

/* #clearCalc {
    width: 183px;
    border-radius: 50px;
} */

#num-zero{
    width: 183px;
    border-radius: 50px;
}

#calc-results {
    margin: 0;
    font-size: 75px;
}

#calc-expression {
    margin-top: 75px;
    height: 35px;
    width: 400px;
}

#calc-waiting {
    margin-left: 80px;
    font-size: 30px;
}

#calc-output {
    margin-top: 0;
} 

.operators, #equalCalc {
    background-color: #FFA534;
    color: white;
}

.operators:hover, #equalCalc:hover {
    background-color: rgb(250, 191, 119);
    color: white;
}
#clearCalc, #clearEntry {
    background-color: #B4B3B8;
}

#clearCalc:hover, #clearEntry:hover {
    background-color:  rgb(205, 204, 207);
}

#calc-buttons {
    margin-top: 10px;
}

#history {
    font-size: 45px;
}

#calc-buttons {
    margin-left: 80px;
}

#past-calc {
    font-size: 30px;
}

.numbers {
    background-color: #333233;
    color: white;
}

.numbers:hover {
    background-color: #505050;
    color: white;
}
